LetsGoBiking/HeavyClient/Connected Services/RoutingService/RoutingWithBikes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RoutingWithBikes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoutingWithBikes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ComputedRoute">
    <xs:sequence>
      <xs:element minOccurs="0" name="BikeToBike" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BikeToEnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartToBike" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComputedRoute" nillable="true" type="tns:ComputedRoute" />
</xs:schema>