LetsGoBiking/HeavyClient/Connected Services/RoutingService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RoutingWithBikes" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStations" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContracts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAddress" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoute" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllStations" message="tns:IService1_GetAllStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllStationsResponse" message="tns:IService1_GetAllStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllContracts" message="tns:IService1_GetAllContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllContractsResponse" message="tns:IService1_GetAllContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchAddress" message="tns:IService1_SearchAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchAddressResponse" message="tns:IService1_SearchAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRoute" message="tns:IService1_GetRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRouteResponse" message="tns:IService1_GetRoute_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllStations">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContracts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAddress">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>