LetsGoBiking/HeavyClient/Connected Services/RoutingService/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
  <xs:complexType name="TupleOfTupleOfdoubledoubleTupleOfdoubledouble_ShTDFhl_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="tns:TupleOfdoubledouble" />
      <xs:element name="m_Item2" nillable="true" type="tns:TupleOfdoubledouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfTupleOfdoubledoubleTupleOfdoubledouble_ShTDFhl_P" nillable="true" type="tns:TupleOfTupleOfdoubledoubleTupleOfdoubledouble_ShTDFhl_P" />
  <xs:complexType name="TupleOfdoubledouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:double" />
      <xs:element name="m_Item2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfdoubledouble" nillable="true" type="tns:TupleOfdoubledouble" />
  <xs:complexType name="TupleOfGeoCoordinateGeoCoordinateSCAhvdMb">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GeoCoordinate" Namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
          <GenericParameter Name="GeoCoordinate" Namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Device.Location" name="m_Item1" nillable="true" type="q1:GeoCoordinate" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Device.Location" name="m_Item2" nillable="true" type="q2:GeoCoordinate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfGeoCoordinateGeoCoordinateSCAhvdMb" nillable="true" type="tns:TupleOfGeoCoordinateGeoCoordinateSCAhvdMb" />
</xs:schema>